body {
	background: url(images/diagmonds.png);
	background-color: #555;
	color: #222;
}

header .container {
	padding: 0;
}

.container#content {
	background-color: #eee;
	padding-top: 15px;
}

.nav a{
	color: #222;
  text-shadow: 1px 1px 8px rgba(34, 34, 34, 0.4);
}

.nav {
	margin: 10px 0;
	background-image: url(images/navbg.jpg);
}

.navbar{
	margin: 20px 0;
	font-size: 40px;
}

.brand {
  float: none;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: -9.5px;
    text-align: center;
    margin: auto;
    height:100%;
}

.nav>li>a:hover, .nav>li>a:focus {
  color: #222;
  text-decoration: none;
  background-color: transparent;
  text-shadow: 2px 2px 8px rgba(34, 34, 34, 0.6);
}

.navbar-est
{
    position: absolute;
    width: 100%;
    left: 70px;
    top: 53px;
    text-align: center;
    margin: auto;
    height:100%;
    font-size: 11px;
}

hr {
	color: #333;
}
