www.davidak.de {
  redir https://davidak.de{uri}
}

davidak.de {
  root /var/www/davidak/web/
  gzip

  # Isso Comments
  proxy /isso 127.0.0.1:9001 {
    without /isso
    transparent
    header_upstream X-Script-Name /isso
  }

  log /var/www/davidak/log/access.log {
    rotate {
      age 96
      keep 10
    }
  }

  errors {
    log /var/www/davidak/log/error.log {
      age 96
      keep 10
    }
  }

  # Rewrite RSS-Feed
  rewrite /blog/feed/ /rss.xml

  # Redirect old URLs
  redir {
    /blog/wp-content/uploads/2010/12/Bildschirmfoto-2010-12-14-um-19.47.29-1024x640.png /images/celtx_auf_osx_wortspiele_polysemia.thumbnail.png
    /blog/wp-content/uploads/2010/12/Bildschirmfoto-2010-12-14-um-19.47.29.png /images/celtx_auf_osx_wortspiele_polysemia.png
    /fotos https://www.flickr.com/photos/davidak
    /blog/feed /rss.xml
    /wiki/python/satzgenerator https://github.com/davidak/satzgenerator
    /wiki/sonstiges/towerdefense-flash /towerdefense-flashgames/
    /wiki/html/javaprojects /javaprojects-html-template/
    /wiki/batch/shutdown-virus /shutdown-virus/
    /wiki/batch/fork /batch-forkbomb/
    /wiki/batch/counter /batch-counter/
    /wiki/batch/crrafooyouh /crrafooyouh/
    /wiki/java/sprechstunde /java-sprechstunde/
    /wiki/java/photoshop-game /photoshop-text-game/
    /wiki/java/anno-1203-game /anno-1203-textbasiertes-aufbau-simulations-spiel/
    /wiki/perl/zerorandom /perl-zerorandom/
    /wiki/perl/namengenerator /perl-namengenerator/
    /wiki/perl/satzgenerator https://github.com/davidak/satzgenerator
    /wiki/perl/personendatengenerator /perl-personendatengenerator/
    /wiki/java/rtfm /java-rtfm-random-text-file-maker/
    /wiki/perl/counter /perl-counter/
    /wiki/bitcoin /bitcoin/
    /wiki/python/unterschiedliche-zufallswerte /python-unterschiedliche-zufallswerte/
    /wiki/perl/rss-feed /perl-rss-feed/
    /wiki/python/vcard-generator https://github.com/davidak/random-vcard-generator
    /wiki/anleitung/debian7-debootstrap /debian7-debootstrap/
    /wiki/anleitung/windows-xp-automatisch-anmelden /windows-xp-automatisch-anmelden/
    /wiki/anleitung/sophos-antivirus-client-enterprise-console /sophos-antivirus-client-enterprise-console/
    /wiki/dokument/cpu-referat-praesentation-ausarbeitung-download /cpu-referat-praesentation-ausarbeitung-download/
    /wiki/dokument/real-kassenzettel-reverse-engeneering /real-kassenzettel-reverse-engeneering/
    /wiki/dokument/real-pfandgutschein-reverse-engeneering /real-pfandgutschein-reverse-engeneering/
    /wiki/anleitung/wartezimmer /blog/wartezimmer/
  }
}
